.feedTweet {
    max-width: 100%;
    border-bottom: 2px solid #F2F3F5;
    padding: 20px;
    color: black;
    justify-content: space-between;
    display: flex;
}

.feedTweet:hover {
    background-color: #F8D7DA;
}

.completeTweet {
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap:10px;
    width:89%;
    gap:10px;
}

.interactions {
    margin-top: 10px;
    display: flex;
    justify-content: start;
    gap: 150px;
}

.interacts {
    color:#3f3f3f;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 10px;
    border-radius: 1000px;
}

.interactionNums {
    color:#3f3f3f;
    display: flex;
    justify-content: start;
    gap: 10px;
    padding: 10px;
    border-radius: 1000px;
}

.interactionNums:hover {
    cursor:pointer;
    background-color: #1da0f20b;
}

.who {
    display: flex;
    gap: 10px;
    font-weight: 600;
    align-items: center;
    font-size: 20px;
}

.accWhen {
    font-size: 15px;
    font-weight: 400;
    color: gray;
}

.tweetContent{
    justify-content: center;
    display: flex;
    justify-content: start;
    flex-direction: column;
    gap:10px;
    font-weight: 600;
    font-size: 20px;
    color: #3f3f3f;
}

.tweetImg {
    width: 100%;
    border-radius: 100px;
    padding: 10px 10px;
    text-align:center;
}